name: Update Language Stats

on:
  workflow_dispatch:
  schedule:
    - cron: '30 3 * * *'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: pip install requests
      - name: Update languages
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_REPO }} # seu token pessoal (Settings → Secrets → Actions)
          USERNAME: "emanuelleLS"
        run: python scripts/update_languages.py
      - run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git add README.md
            git commit -m "chore(readme): atualiza estatísticas de linguagens"
            git push
          else
            echo "Sem mudanças."
          fi
